@CHARSET "UTF-8";

html {height: 100%;}
body {background:#fff !important;}


.header { text-align:center; background:#ccc; }
.header > img { margin:15px 0;  }
.page .content { text-align:center; background:#fff; }
.page .content img,.page .content p { display:block; text-align:center; margin:15px auto; }
.toLoad { display:none; }
div[data-role=page]{ background:#fff; }

.hit-scan {
	background: #009900 url(images/ico.png) no-repeat;
	position: absolute;
	height: 100%;
	width: 50%;
	opacity: 0.4;
	display:none;
	height:40px;
	left:25%;
}
.hit-container { position:relative; }
#scanBtt { display:none; }
#interface-hit .desc { font-size:21px; background:#cccccc; padding:5px; white-space:normal; word-wrap:break-word;}