@CHARSET "UTF-8";

html {height: 100%;}
body {background:#fff !important; font-family:Arial !important;}


.header { text-align:center; background:#ccc; }
.header > img { margin:15px 0;  }
.page .content { text-align:center; background:#fff; }
.page .content img,.page .content p { display:block; text-align:center; margin:15px auto; }
.toLoad { display:none; }
div[data-role=page]{ background:#fff; }
a[data-role=button] { background:#d83627 !important; color:#fff !important; text-shadow:0 !important; border:none !important;  font-weight:300 !important; font-size:14px !important; }

.hit-scan {
	background: #e7e7e7 url(images/ico.png) no-repeat center;
	position: absolute;
	height: 100%;
	width: 50%;
	opacity: 0.4;
	display:none;
	height:40px;
	left:25%;
}
.hit-container { position:relative; }
#scanBtt { display:none; }
#interface-hit .desc { font-size:21px; background:#cccccc; padding:5px; white-space:normal; word-wrap:break-word;}